
.page-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .page-section:not(.fg-white) h1,
  .page-section:not(.fg-white) h2,
  .page-section:not(.fg-white) h3 {
    color: #6b6872;
  }

  
h1, .h1 {
    font-size: 3rem;
  }
  h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.25;
}

.box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background:#ebf1fa;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
  }