.about .image {
    padding: 20px;
    box-shadow: 0px 2px 15px rgba(15, 65, 204, 0.7);
  }
  
  .about .content h3 {
    font-weight: 600;
    font-size: 28px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .content p{
  text-align: justify;
    text-justify: inter-word;
  }
  .about .content ul li {
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    text-align: justify;
  }
  
  .about .content ul i {
    font-size: 26px;
    padding: 2px 6px 0 0;
    color: #7cc576;
    text-align: justify;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }

  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: whitesmoke;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 0;
    color: #151515;
  }
  
  .section-title p {
    margin-bottom: 0;
    color: #aeaeae;
  }
  
  @media screen and (max-width: 800px) {
    .img-fluid {
      padding: 20px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.9);
      max-width: 600px;
    }
  }